@model IndividualDocumentsViewModel

@{
    ViewBag.Title = "Individual Upload Document";
}




<div class="" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Individual Loan Application</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Individual Upload Document</h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <form id="individualUploadDocumentForm" enctype="multipart/form-data" class="form-horizontal form-label-left" asp-controller="IndividualUploadDocuments" asp-action="IndividualUploadDocuments" method="post">
                            @*<div class="item form-group">
                                    <label asp-for="DocumentId" class="col-form-label col-md-2 col-sm-2 label-align">
                                        Document Id
                                    </label>
                                    <div class="col-md-10 col-sm-10 ">
                                        <input asp-for="DocumentId" id="documentId" name="documentId" class="form-control" type="text">
                                    </div>
                                </div>*@

                            <div class="item form-group">
                                <label asp-for="DocumentName" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Select Document
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <select asp-for="DocumentName" id="DocumentName" name="DocumentName" class="form-control">
                                        <option>
                                            Financial accounts
                                        </option>
                                        <option>
                                            Business bank statements
                                        </option>
                                        <option>
                                            Personal bank statements
                                        </option>
                                        <option>
                                            Aged debtor list
                                        </option>
                                        <option>
                                            VAT returns
                                        </option>
                                        <option>
                                            Management Accounts
                                        </option>
                                        <option>
                                            Tax returns
                                        </option>
                                        <option>
                                            Payslips. Last 3 months
                                        </option>
                                        <option>
                                            P60
                                        </option>
                                        <option>
                                            Leases
                                        </option>
                                        <option>
                                            Property Schedule
                                        </option>
                                        <option>
                                            Identification. Passport or driving licence
                                        </option>
                                        <option>
                                            CV
                                        </option>
                                        <option>
                                            Other
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="Document" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Document Path
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="Document"  id="DocumentPath" name="DocumentPath" class="form-control-file" type="file">
                                </div>
                            </div>

                            <div class="ln_solid"></div>
                            <div class="item form-group">
                                <div class="col-md-6 col-sm-6 offset-md-3">
                                    <button class="btn btn-primary" type="button">Cancel</button>
                                    <button type="submit" class="btn btn-success">Upload</button>
                                    @*<a asp-controller="IndividualUploadDocuments" asp-action="IndividualUploadDocuments" class="btn btn-success">Upload</a>*@

                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
