@model KeyPrincipals

@{
    ViewBag.Title = "Busniess Key Principals";
}


<div class="" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Busniess Loan Application</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Key Principals</h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <form id="BusniessKeyPrincipalsForm" data-parsley-validate class="form-horizontal form-label-left" asp-controller="BusniessKeyPrincipals" asp-action="KeyPrincipals" method="post">

                            @*<div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="KeyPrincipalsId">
                                    ID <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input type="text" asp-for="KeyPrincipalsId" id="keyPrincipalsId" name="keyPrincipalsId" required="required" class="form-control ">
                                </div>
                            </div>*@

                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="Title">
                                    Title<span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input type="text" asp-for="Title" id="title" name="title" required="required" class="form-control ">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="FirstName" class="col-form-label col-md-3 col-sm-3 label-align">
                                    First Name <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input type="text" asp-for="FirstName" id="firstName" name="firstName" required="required" class="form-control">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="MiddleName" class="col-form-label col-md-3 col-sm-3 label-align">Middle Name / Initial</label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="MiddleName" id="middle-name" name="middle-name" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="Surname" class="col-form-label col-md-3 col-sm-3 label-align"> Surname</label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="Surname" id="surname" name="surname" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="Position" class="col-form-label col-md-3 col-sm-3 label-align">Position (*MultiSelect)</label>
                                <div class="col-md-6 col-sm-6 ">
                                    <select asp-for="Position" id="position" name="position" class=" form-control" multiple>
                                        <option>
                                            Director & Shareholder
                                        </option>
                                        <option>
                                            Director
                                        </option>
                                        <option>
                                            Shareholder
                                        </option>
                                        <option>
                                            Partner
                                        </option>
                                        <option>
                                            Guarantor
                                        </option>

                                    </select>
                                </div>
                            </div>

                            <div class="item form-group">
                                <label asp-for="PercentageShareholding" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Percentage Shareholding
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="PercentageShareholding" id="percentageShareholding" name="percentageShareholding" class="form-control" type="text">
                                </div>
                            </div>






                            <div class="ln_solid"></div>
                            <div class="item form-group">
                                <div class="col-md-6 col-sm-6 offset-md-3">
                                    <button class="btn btn-primary" type="button">Cancel</button>
                                    <button class="btn btn-primary" type="reset">Rset Form</button>
                                    <button type="submit" class="btn btn-success">Save</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>