@model EmploymentDetails

@{
    ViewBag.Title = "Individual Employment Details";
}

<div class="" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Individual Loan Application</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Employment Details</h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <form id="IndividualEmploymentDetailsForm" data-parsley-validate class="form-horizontal form-label-left" asp-controller="IndividualEmploymentDetails" asp-action="EmploymentDetails" method="post">

                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="EmploymentStatus">
                                    Employment Status<span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <select asp-for="EmploymentStatus" id="EmploymentStatus" name="EmploymentStatus" class="form-control">
                                        <option>
                                            Employed
                                        </option>
                                        <option>
                                            Self-employed
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="EmploymentType" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Employment Type <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <select asp-for="EmploymentType" id="employmentType" name="employmentType" class="form-control">
                                        <option>
                                            Full time
                                        </option>
                                        <option>
                                            Part time
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="GrossSalary" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Gross Salary/Drawing<span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="GrossSalary" id="grossSalary" name="grossSalary" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="NationalInsuranceNumber" class="col-form-label col-md-3 col-sm-3 label-align">
                                    National Insurance Number <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="NationalInsuranceNumber" id="nationalInsuranceNumber" name="nationalInsuranceNumber" class="form-control" type="text">
                                </div>
                            </div>

                            <div class="item form-group">
                                <label asp-for="JobTitle" class="col-form-label col-md-3 col-sm-3 label-align">
                                Job Title</label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="JobTitle" id="jobTitle" name="jobTitle" class="form-control" type="text">
                                </div>
                            </div>

                            <div class="item form-group">
                                <label asp-for="StartDate" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Start Date <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="StartDate" id="startDate" name="startDate" class="date-picker form-control" placeholder="dd-mm-yyyy" type="text" required="required" onfocus="this.type='date'" onmouseover="this.type='date'" onclick="this.type='date'" onblur="this.type='text'" onmouseout="timeFunctionLong(this)">
                                    <script>
                                        function timeFunctionLong(input) {
                                            setTimeout(function () {
                                                input.type = 'text';
                                            }, 60000);
                                        }</script>
                                </div>
                            </div>





                            <div class="item form-group">
                                <label asp-for="EmployersName" class="col-form-label col-md-3 col-sm-3 label-align">
                                Employer's Name </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="EmployersName" id="employersName" name="employersName" class="form-control" type="text">
                                </div>
                            </div>

                            <div class="item form-group">
                                <label asp-for="LatestEarnedIncomeYearOne" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Latest Earned Income (most recent Year 1)
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="LatestEarnedIncomeYearOne" id="latestEarnedIncomeYearOne" name="latestEarnedIncomeYearOne" class="form-control" type="text">
                                </div>
                            </div>

                            <div class="item form-group">
                                <label asp-for="LatestEarnedIncomeYearTwo" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Latest Earned Income (year 2) <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input type="text" asp-for="LatestEarnedIncomeYearTwo" id="latestEarnedIncomeYearTwo" name="latestEarnedIncomeYearTwo" required="required" class="form-control">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="LatestEarnedIncomeYearThree" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Latest Earned Income (year 3) <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="LatestEarnedIncomeYearThree" id="latestEarnedIncomeYearThree" name="latestEarnedIncomeYearThree" class="form-control" type="text">
                                </div>
                            </div>
                           



                            <div class="ln_solid"></div>
                            <div class="item form-group">
                                <div class="col-md-6 col-sm-6 offset-md-3">
                                    <button class="btn btn-primary" type="button">Cancel</button>
                                    <button class="btn btn-primary" type="reset">Save</button>
                                    <button type="submit" class="btn btn-success">Save & Countinue</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>