@model Individual

@{
    ViewBag.Title = "Individual Term Loan";
}

<form asp-controller="Home" asp-action="IndividualTermLoan" method="post">
    <div class="mb-3 col-xl-12">
        <label asp-for="Title " class="form-label col-xl-2">Title </label>
        <div>
            <input asp-for="Title" class="form-control col-xl-6" placeholder="Title" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>

    <div class="mb-3 col-xl-6">
        <label asp-for="FirstName " class="form-label">First Name</label>
        <div>
            <input asp-for="FirstName" class="form-control col-xl-6" placeholder="First Name" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
    </div>


    <div class="mb-3 col-xl-6">
        <label asp-for="MiddleName " class="form-label">Middle Name</label>
        <div>
            <input asp-for="MiddleName" class="form-control col-xl-6" placeholder="Middle Name" />
            <span asp-validation-for="MiddleName" class="text-danger"></span>
        </div>
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>



    <div>
        <button type="submit" class="btn btn-primary">Apply Loan</button>
    </div>
</form>


