@model MonthlyIncome

@{
    ViewBag.Title = "Monthly Income Details";
}

<div class="" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Individual Loan Application</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Monthly Income Details</h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <form id="IndividualMonthlyIncomeForm" data-parsley-validate class="form-horizontal form-label-left" asp-controller="IndividualIncomeExpenditure" asp-action="IncomeExpenditure" method="post">

                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="SalaryAfterTax">
                                    Salary/drawing after tax<span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input type="text" asp-for="SalaryAfterTax" id="salaryAfterTax" name="salaryAfterTax" required="required" class="form-control ">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="DividendsAfterTax" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Dividends after tax <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input type="text" asp-for="DividendsAfterTax" id="dividendsAfterTax" name="dividendsAfterTax" required="required" class="form-control">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="PartnerEaningAfterTax" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Your Partner earning's after tax<span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="PartnerEaningAfterTax" id="partnerEaningAfterTax" name="partnerEaningAfterTax" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="OtherIncomeInvestments" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Other Investments <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="OtherIncomeInvestments" id="otherIncomeInvestments" name="otherIncomeInvestments" class="form-control" type="text">
                                </div>
                            </div>

                           

                            <div class="ln_solid"></div>
                            <div class="item form-group">
                                <div class="col-md-6 col-sm-6 offset-md-3">
                                    <button class="btn btn-primary" type="button">Cancel</button>
                                    <button class="btn btn-primary" type="reset">Save</button>
                                    <button type="submit" class="btn btn-success">Save & Countinue</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>